header {
    background-color: #cecece;
    padding: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerDiv {
    background-color: #cecece;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.headerDiv2 {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.section1 {
    width: 100%;
    min-height: 100vh;
}

.section2 {
    background-color: #cecece;
    width: 100%;
    min-height: 100vh;
}

.section3 {
    width: 100%;
    min-height: 80vh; 
}

.card {
    height: 100%;
}

.card-img {
    border-radius:  0.375rem;
}

.card-header {
    font-weight: bold;
    font-size: large;   
}


footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #cecece;
    flex-shrink: 0;
    margin-bottom: 0;

}


.customBtn {
    background-color: #cecece;
    border-color: white;
    color: white;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.customBtn1 {
    width: 100%;
}


.customBtn:hover {
    background-color: #131c24;
    border-color: white;
}


.customBtn:link {
    background-color: #131c24;
    border-color: white;
}
