header {
    background-color: #64c9f8;
    padding: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerDiv {
    background-color: #64c9f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.headerDiv2 {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.section1 {
    width: 100%;
    min-height: 100vh;
}

.section2 {
    background-color: #64c9f8;
    width: 100%;
    min-height: 100vh;
}

.section3 {
    width: 100%;
    min-height: 80vh; 
}

.card {
    height: 100%;
}

.card-img {
    border-radius:  0.375rem;
}

.card-header {
    font-weight: bold;
    font-size: large;   
}


footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #64c9f8;
    flex-shrink: 0;
    margin-bottom: 0;

}


.customBtn {
    background-color: white;
    border-color: white;
    color: #64c9f8;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.customBtn1 {
    width: 100%;
}


.customBtn:hover {
    background-color: #64c9f8;
    border-color: white;
}


.customBtn:link {
    background-color: #64c9f8;
    border-color: white;
}



.hover1 {
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.hover1:hover {
    opacity: 0.8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
